* {
    border-style: none;
    border-color: inherit;
    border-width: 2px;
    margin: 0px 0 0 0px;
    padding: 0;
    outline: none;
    float: none;
    /*background-image: url("../img/ne_cearafortaleza0107_0-2.jpg")*/
    }

body {
    background: #F5F5F5;
    font: 12px Arial, Tahoma, Verdana;
    color: #000;
    height: 725px;
    background-image: url("../img/ne_cearafortaleza0107_0-2.jpg")
}

.hyp{
    color: #0e145a;
}

.hyp:link, .hyp:visited {
	text-decoration: none
	}
.hyp:hover {
	text-decoration: underline; 
	color: #dedede;
	}


/*.hyp{
    text-decoration: none; 
}

.hyp:hover{
    color: #f67406;
}*/

#main {
    width: 1313px;
    height: 716px;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/*begin header*/
.header {
    width: 1347px;
    height: 197px;
    background-color: #5e85b0;
    border-radius: 0px;
    
    border-bottom: 0px solid #ECECFB;
    margin-bottom: 10px;
    margin-top: 0px;
}

    .header img {
        float: left;
        /*margin: 10px 2px 10px 10px;*/
        
    width: 242px;
    height: 171px;
    z-index: 1;
    left: 22px;
    top: 12px;
    position: relative; 
}

.header2{
    
    width: 693px;
    height: 0;
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;*/
    border-radius: 0px;
    background: #fff;
    /*border: 1px solid #ECECFB;*/
}

.header2 img{
    float: left;
        /*margin: 10px 2px 10px 10px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;    
    width: 694px;
    height: 397px;
    z-index: 1;
    left: 217px;
    top: 10px;
    position: relative; 
    
}

.header2 .gridDisponivel{
    float: left;
        /*margin: 10px 2px 10px 10px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;    
    width: 473px;
    height: 450px;
    z-index: 1;
    left: -32px;
    top: -12px;
    position: relative; 
}

/*end header*/
/*begin radius*/
.radius {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #ECECFB;
}

.radiusInput {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #FBFBFB;
    border: 1px solid #dedede;
}
/*end radius*/
/*begin sidebar*/
.navSide {
    width: 250px;
    min-height: 300px;
    float: left;
    padding:15px 0;
    margin-left: 20px;
}

.navSide ul {
    list-style:none;
}
.navSide ul li{
    display:block;
    margin:0 20px;
    padding:5px;
    color:#000;
    font-weight:800;
}
.navSide ul li a{
    display:block;
    padding:0;
    color:#f67406;
    text-decoration:none;
}
.navSide ul li a:hover{
    color:#295FB1;
}

.navSide ul li ul.itens{
    list-style:circle;
}

.navSide ul li ul.itens li a{
    display:block;
    padding:0;
    color:#f67406;
    text-decoration:none;
}
.navSide ul li ul.itens li a:hover{
    color:#295FB1;
}


/*end sidebar*/
/*begin content*/
#content {
    width: 999px;
    float: right;
    margin-bottom: 100px;
    min-height: 300px;
}


    #content div {
        margin: 0px 9px 10px 10px;
        float: left;
        /*border-bottom: 3px solid #E6E6E6;*/
        padding: 10px 0;
    }

        #content div h1 {
            margin: 8px 10px;
            font: 20px Arial, Verdana;
    width: 223px;
}

        #content div table {
            border-spacing: 0;
            border-collapse: collapse;
    margin-left: 0px;
    margin-right: 0;
    }

            #content div table tr th {
                background: #729DDE;
                text-align: center;
                color: #F5F5F5;
                border: 1px solid #E6E6E6;
                font-weight: 800;
            }

                /*#content div table thead tr th,
                table tbody tr td {
                    border: 1px solid #E6E6E6;
                    padding: 8px 0;
                }*/

                #content div table tr th,
                table tbody tr td {
                    border: 1px solid #E6E6E6;
                    padding: 8px 0;
                }

            #content div table tbody tr td {
                padding-left: 8px;
            }

            #content div table tbody tr td a {
                color:#000;
                text-decoration:none;
                font-weight:bold;
            }

                #content div table tbody tr td a:hover {
                    color:#666;
                }



            #content div table tbody .odd {
                background: #C8D9F2;
            }

    #content ul {
        list-style: none;
    width: 705px;
    height: 162px;
}

        #content ul li {
            display: inline-block;
            margin: 10px 5px;
            width: 220px;
        }

            #content ul li span {
                display: block;
                margin-bottom: 12px;
                font: 13px Arial,Verdana,Tahoma;
                font-weight: 800;
            }

            #content ul li input[type="text"] {
                padding: 8px;
                margin: 0 3px;
                width: 200px;
                color: #666;
            }


fieldset {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 370px;
    background: #FBFBFB;
    border: 1px solid #dedede;
    margin: 20px 20px 10px 20px;
    font: 13px Arial,Verdana,Tahoma;
    font-weight: 800;
    color: #000;
    padding-left: 10px;
}

#rlbTypeSearch {
    float: left;
    margin: 10px;
}

fieldset #rlbTypeSearch li {
    float: left;
    width: 85px;
    margin: 10px;
}

    fieldset #rlbTypeSearch li input[type="radio"] {
        margin-right: 10px;
    }


.disable {
    font-weight: 800;
    background: #fff;
    cursor:no-drop;
}
/*end content*/
/*begin buttons*/
.btn {
    width: 210px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    color: #000;
    cursor: pointer;
    font-weight: 800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn2 {
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    color: #000;
    cursor: pointer;
    font-weight: 800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 0px;
}

.btnAdd {
    background: #F5F5F5 url(../images/save.png) no-repeat left 2px;
}

.btnAdd btn{
    position: center;
}

.btnEdit {
    background: #F5F5F5 url(../images/file_edit.png) no-repeat left;
}

.btnSearch {
    background: #F5F5F5 url(../images/search.png) no-repeat left 1px;
}

.btnGarbage {
    background: #F5F5F5 url(../images/garbage.png) no-repeat left 1px;
}

.btnClearSearch {
    background: #F5F5F5 url(../images/clearSearch.png) no-repeat left 1px;
}

/*end buttons*/
